.poster-wrapper {
    position: relative;
    width: 337px;
    height: 500px;
    cursor: pointer;
}

#poster {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    object-fit: fill;
}

.overlay {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    backdrop-filter: blur(8px);
    font-size: 1.5rem;
    color: white;
    clip-path: circle(0% at 50% 50%);
    transition: all 0.3s;
}

.poster-wrapper:hover .overlay {
    clip-path: circle(69% at 50% 50%); 
}

.modal-body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .1);
}

.modal, .modal-header {
    background: rgba(0, 0, 0, .1);
}
