.search-field {
    display: flex;
    justify-content: center;
}

.search-bar {
    margin: 8px 12px 8px 0;
    padding: 0 0 0 15px;
    border-radius: 7px;
    transition: all 0.3s;
}

.search-bar:focus {
    outline-color: #0dcaf0;
    box-shadow: 0 0 7px #0dcaf0;
}


.nav-container .menu-fav {
    display: none;
}

@media (max-width: 1200px) {
    .nav-container .menu-fav {
        display: block;
        color: #FFC107
    }

    .nav-container .fav-btn-div {
        display: none;
    }

    .nav-end .search-btn {
        display: none;
    }

    .nav-end .search-field {
        display: none;
    }
}

@media (max-width: 600px) {
    .nav-container .extra-search {
        width: 50%;
    }

    .search-bar {
        margin: 0;
        width: 90%;
        padding: 0 0 0 0.9rem;
    }
}